.chart__container {
  position: relative;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  background: #fff;
  padding: 13px 20px;
  max-width: 240px;
  width: 100%;
  margin-top: 40px;
}
.chart__title {
  font-weight: 600;
  font-size: 22px;
}
